<!-- menu.html -->
  
<nav class="navbar">
    <div class="nav-left">
        <div class="menu-btn"><i class="fa-solid fa-bars"></i></div>
        <a href="/"><img src="/static/Graphics/Logoer_Plakater/LogoVektorNettbutikk3.svg" class="nav-logo" alt="ShinyStar Logo"></a>
    </div>

    <div class="nav-center">
        <form class="search-form">
            <input type="text" placeholder="Search..." class="search-bar">
            <button type="submit" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

  <div class="nav-right">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/favorites">
        <i class="fa-solid fa-heart" id="favorites-icon"></i>
    </a>
    <a href="/cart">
        <i class="fa-solid fa-cart-shopping" id="cart-icon"></i>
    </a>
</div>


    <div class="side-menu">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/favorites">Favorites</a>
        <a href="/cart">Cart</a>
        <a href="#">Contact</a>
    </div>

    <div class="overlay"></div>
</nav>
