{% extends "base.html" %}

{% block title %}Shinystar-Products{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/CSS_Filer/products.css">
{% endblock %}

{% block content %}

<section class="product-section">
    <h2 class="section-title">Our Products</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <div class="product-image" style="background-image:url('/static/Graphics/Stickers/{{ product.image }}')"></div>
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <span class="price">{{ product.price }},-</span>
                <div class="product-icons">
                    <i class="fa-solid fa-heart" onclick="toggleFavorite(this)"></i>
                </div>
                <button class="buy-btn" onclick="toggleBuy(this)">Buy now</button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<script src="/static/JS_filer/main.js"></script>

{% endblock %}
