@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 75%;
  margin: auto;
}

.container > p,
.container > h1 {
  margin: 1.5rem 0;
  text-align: center;
  padding: 20px;
}

.container > p {
 font-size: large;
}

.container > h1 {
  letter-spacing: 3px;
}

.category-title {
  margin-top: 2rem;
  color: #2d3a4b;
}

/* spørsmål knapp */
.question-button {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.question-button i {
  font-size: 1.6rem;
}

.question-button:hover,
.faq-item.active .question-button {
  background-color: #eaf3ff;
}

/* svar panel */
.answer-panel {
  display: none;
  padding: 0 2rem 2.5rem 2rem;
  background-color: #eaf3ff;
  overflow: hidden;
}

.answer-panel p {
  font-size: 19px;
}

/* vis panel når aktiv */
.faq-item.active .answer-panel {
  display: block;
}

/* FAQ container */
.faq-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  border-radius: 8px;
  overflow: hidden;
}
